.shadow-transition {
  transition: $shadow-transition !important;
}

@for $z from 0 through 24 {
  .shadow-#{$z} {
    box-shadow: nth($shadow, $z + 1);
  }
  .shadow-up-#{$z} {
    box-shadow: nth($shadow-up, $z + 1);
  }
}

.no-shadow, .shadow-0 {
  box-shadow: none !important;
}

.inset-shadow {
  box-shadow: $inset-shadow !important;
}

.z-marginals {
  z-index: $z-marginals;
}

.z-notify {
  z-index: $z-notify;
}

.z-fullscreen {
  z-index: $z-fullscreen;
}
